<!-- Task List Section -->
<mat-card>
  <mat-card-content>
    <mat-list>
      <!-- Task List Loop -->
      <mat-list-item *ngFor="let task of tasks$ | async; trackBy: trackTaskById" class="task-item">
        <div class="__task-item-container">
          <!-- Task Title -->
          <h2 class="__task-title">{{ task.title }}</h2>
          <div class="__task-actions">
            <!-- Toggle Task Status -->
            <mat-slide-toggle
              [checked]="task.status.id === COMPLETED_STATUS.id"
              (change)="onToggleStatus(task)">
            </mat-slide-toggle>
            <!-- Delete Task Button -->
            <button mat-icon-button (click)="onDeleteTask(task)">
              <mat-icon color="primary">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!-- Add New Task Button -->
<button mat-raised-button (click)="openAddTaskDialog()">Add new task</button>
